Options +MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

#### Rule for Error Page####

ErrorDocument 400 /httpdocs/errors/400.php
ErrorDocument 403 /httpdocs/errors/403.php
ErrorDocument 404 http://www.einfachltd.com/errors/404.php
ErrorDocument 405 /httpdocs/errors/405.php
ErrorDocument 500 /httpdocs/errors/500.php
ErrorDocument 502 /httpdocs/errors/502.php
ErrorDocument 503 /httpdocs/errors/503.php
ErrorDocument 504 /httpdocs/errors/504.php
ErrorDocument 505 /httpdocs/errors/505.php

### Rule to change php.ini value###

php_value upload_max_filesize 256M
php_value post_max_size 256M
php_value max_execution_time 300000
php_value max_input_time 3000
php_value  max_file_uploads 100